<div class="middle aligned content">
  <div class="field {{if @error 'error'}} {{if @field.required 'required'}}">
    <label>{{@field.title}}</label>
    <div class="ui massive fluid buttons">
      <button class="ui inverted red {{if @value 'active'}} button" {{action @update true}}>
        <i class="warning icon"></i>{{this.onLabel}}
      </button>
      <div class="or"></div>
      <button class="ui inverted green {{if this.notValue 'active'}} button" {{action @update false}}>
        <i class="check icon"></i>{{this.offLabel}}
      </button>
    </div>
  </div>
</div>
