<div>
  <div>
    <label>{{field.title}}</label>
    <div>
      <div>
        <div>
          {{if field.allow_multiple_choice 'Select Multiple Choices' 'Select Single Choice'}}
        </div>
        {{#each field.multiple_choice_options as |option index|}}
          <div onClick={{action 'updateChoice' index}}>
            <label>
              <input type="checkbox" checked={{object-at index value}}>
              {{option}}
            </label>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>