<label>
  {{field.title}}
  {{#if field.required}}*{{/if}}
</label>
<select onchange={{action update value="target.value"}}>
  {{#if showPrompt}}
    <option value="" selected={{hasNoValue}}>--</option>
  {{/if}}
  {{#each options as |option|}}
    <option
        value={{option.value}}
        selected={{option.selected}}>
      {{option.value}}
    </option>
  {{/each}}
</select>
