<label>
  {{@field.title}}
  {{#if @field.required}}*{{/if}}
</label>
<select onchange={{action @update value="target.value"}}>
  {{#if this.showPrompt}}
    <option value="" selected={{this.hasNoValue}}>--</option>
  {{/if}}
  {{#each this.options as |opt|}}
    <option
        value={{opt.value}}
        selected={{opt.selected}}>
      {{opt.value}}
    </option>
  {{/each}}
</select>
